body {
  margin: 0;
  height: 100%;
  background: #b7ebbc;
  overflow: hidden;
}

/* Top Nav */

.topnav {
  position: relative;
  background-color: #ffffff;
  overflow: visible;
  box-shadow: 0px 0px 1px;
  z-index: 1;
  height: 4.5em;
}

.topnav img {
  width: 70px;
  height: auto;
  margin-left: 10px;
  float: left;
}

.topnav .name {
  position: relative;
  float: left;
  margin-top: 0px;
}

.name a {
  text-decoration: none;
  float: left;
  margin: 0px;
  padding-top: 15px;
  font-family: "Nunito";
  font-size: 30px;
  color: #388624;
}

.topnav .option {
  position: relative;
  margin-top: 24px;
  float: left;
  left: 13vw;
  right: 10vw;
}

.option a {
  text-decoration: none;
  color: #136129;
  margin-left: 30px;
  font-family: "Nunito";
  font-weight: bold;
}

.option a:hover {
  text-decoration: underline;
}

.option .opt4 {
  text-decoration: underline;
}

.checkbtn {
  font-size: 30px;
  color: #136129;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.search-container {
  float: right;
  max-width: 20em;
  margin: 0px auto;
}

.search-container .search-input {
  background-color: #dbeafe;
  width: 22em;
  border-radius: 5px;
  position: relative;
  top: 0.8em;
  right: 3em;
}

.search-input input {
  height: 45px;
  width: 17.5em;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 16px;
  background-color: #dbeafe;
  color: #136129;
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
  position: absolute;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  width: 21.5em;
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}

.search-input .autocom-box::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  color: #136129;
  font-family: "Inter";
}

.search-input.active .autocom-box li {
  display: block;
}
.autocom-box li:hover {
  background: #efefef;
}

.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #136129;
  cursor: pointer;
}

/* End of Top Nav */

.main-container {
  position: absolute;
  background-color: #b7ebbc;
  width: 100%;
  height: 90%;
  z-index: -2;
  overflow: hidden;
}

/* Menu */

.main-container .menu {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: auto;
  z-index: 2;
}

.menuOption a {
  display: block;
  text-decoration: none;
  color: #136129;
  text-align: center;
  font-family: "Nunito";
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
}

.menuOption hr {
  margin: 0;
  border-top: #136129 1px dashed;
}

/* End of Menu */

.main-container .developer {
  position: relative !important;
  overflow: hidden;
  width: 80%;
  height: 480px;
  background-color: #93d7aa;
  position: absolute;
  top: 0;
  bottom: 220px;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 30px;
  border: #136129 dashed 1px;
}

.developer .dev-container {
  margin: auto;
  width: 98%;
}

.dev-container .dev-description {
  position: relative;
  width: 92%;
  height: 330px;
  top: 0;
  bottom: 220px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #9bf0b8;
  box-shadow: #388624 1px 1px 5px;
  border-radius: 2px;
}

.dev-description h2 {
  text-align: center;
  font-family: 'Inter';
  font-weight: bolder;
  font-size: 30px;
  color: #136129;
  padding-top: 30px;
}

.dev-description p {
  text-align: center;
  font-family: 'Inter';
  font-size: 15px;
  color: #136129;
  line-height: 20px;
}

.dev-container .dev-name {
  position: absolute;
  width: 85%;
  top: 195px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.dev-name .sect1, .dev-name .sect2 {
  width: 50%;
  float: left;
}

.dev-name .dev {
  width: 46%;
  height: 35vh;
  max-height: 50vh;
  margin: auto 10px auto 10px;
  /* margin-right: 10px;
  margin-left: 10px; */
  float: left;
  background-color: #dfffe2;
  box-shadow: #388624 1px 1px 5px;
  border-radius: 3px;
}

/* .dev .line {
  border-top: #388624 dotted 2px;
} */

.dev h5 {
  font-family: 'Inter';
  font-weight: bold;
  color: #136129;
  padding: 20px;
  font-size: 15px;
  margin: 0px;
}

/* .dev #cntct {
  margin: 0;
} */

.dev #initial {
  margin: 0;
  font-family: 'Inter';
  font-size: 30px;
  color: #136129;
  padding: 0px 20px 0px 20px;
  margin: 0;
}

.dev p {
  font-family: 'Inter';
  font-size: 12.5px;
  color: #136129;
  padding: 0px 20px 0px 20px;
}

/* Responsive Top Nav */

@media only screen and (max-width: 1130px) {
  .checkbtn {
    display: block;
  }

  .menu {
    display: block !important;
    position: absolute;
    width: 100%;
    height: 100vw;
    left: -200vw;
    transition-duration: 0.2s;
  }

  .topnav .option {
    display: none;
  }

  .search-container {
    position: fixed;
    width: 100vw;
    top: 70px;
    left: -300vw;
    right: 49em;
    transition-duration: 0.2s;
  }

  .search-input {
    width: 100vw !important;
    border-radius: 0px !important;
  }

  .search-input input {
    width: 80vw;
    border-radius: 0px !important;
  }
  .search-input .autocom-box {
    width: 100%;
    box-shadow: #136129 1px 0px 3px;
  }
}

@media only screen and (max-width: 400px) {
  .name a {
    display: none;
  }
}

@media only screen and (max-width: 1360px) {
  .topnav .option {
    left: 5vw;
  }
  .video .chemVid {
    margin-top: 3.5em;
    margin-left: 1.8em;
  }
}

@media only screen and (max-width: 1180px) {
  .topnav .option {
    left: 2vw;
  }
  .video .chemVid {
    margin-top: 6em;
    margin-left: 1.5em;
  }
  
}

/* End of Responsive Top Nav */


@media only screen and (max-width: 1470px) {
  .main-container {
    overflow-y: auto;
  }
  .developer {
    height: 53em !important;
    padding-bottom: 0.5em !important;
  }
  .dev-description {
    height: 40em !important;
  }
  .sect1, .sect2 {
    float: none !important;
    width: 70% !important;
    margin: auto !important;
  }
  .dev {
    margin-top: 1em !important;
  }
}

@media only screen and (max-width: 1067px) {
  .developer { 
    width: 100% !important;
    margin-top: 10px !important;
  }
}

@media only screen and (max-width: 920px) {
  .dev-name {
    top: 220px !important;
  }
}

@media only screen and (max-width: 720px) {
  .dev-name {
    top: 230px !important;
  }
  .developer {
    padding-bottom: 5em !important;
  }
}

@media only screen and (max-width: 620px) {
  .dev-name {
    top: 250px !important;
  }
}

@media only screen and (max-width: 535px) {
  .dev-name {
    top: 265px !important;
  }
}

@media only screen and (max-width: 385px) {
  .dev-name {
    top: 290px !important;
  }
}

@media only screen and (max-width: 355px) {
  .dev-name {
    top: 320px !important;
  }
}

@media only screen and (max-width: 315px) {
  .dev-name {
    top: 340px !important;
  }
}

@media only screen and (max-width: 290px) {
  .dev-name {
    top: 370px !important;
  }
}

@media only screen and (max-width: 857px) {
  .developer {
    height: 77em !important;
    padding-bottom: 3em !important;
  }
  .dev-description {
    height: 67em !important;
  }
  .dev {
    float: none !important;
    width: 100% !important;
    margin: auto !important;
    margin-top: 1em !important;
    height: 15em !important;
    overflow: hidden;
  }
}

@media only screen and (max-width: 486px) {
  #drew {
    margin-top: 4em !important;
  }
  .developer {
    height: 80em !important;
  }
  .dev-description {
    height: 70em !important;
  }
}

@media only screen and (max-width: 449px) {
  .dev {
    height: 20em !important;
  }
  .developer {
    height: 100em !important;
  }
  .dev-description {
    height: 90em !important;
  }
}

@media only screen and (max-width: 720px) {
  .dev-name {
    top: 230px !important;
  }
  .developer {
    padding-bottom: 5em !important;
  }
}

@media only screen and (max-width: 620px) {
  .dev-name {
    top: 250px !important;
  }
}

@media only screen and (max-width: 535px) {
  .dev-name {
    top: 265px !important;
  }
  .developer {
    padding-bottom: 7em !important;
  }
  .sect1, .sect2 {
    float: none !important;
    width: 100% !important;
}
.dev-description {
  height: 73em !important;
}
}

@media only screen and (max-width: 385px) {
  .dev-name {
    top: 290px !important;
  }
}

@media only screen and (max-width: 355px) {
  .dev-name {
    top: 320px !important;
  }
  .developer {
    padding-bottom: 9em !important;
  }
}

@media only screen and (max-width: 315px) {
  .dev-name {
    top: 340px !important;
  }
}

@media only screen and (max-width: 290px) {
  .dev-name {
    top: 370px !important;
  }
  .developer {
    padding-bottom: 11em !important;
  }
}

@media only screen and (min-width: 1130px) {
  .main-container {
    height: 90% !important;
  }
}