body {
    margin: 0;
    height: 100%;
    background: #B7EBBC;
}

/* Top Nav */

.topnav {
  position: relative;
  background-color: #ffffff;
  overflow: visible;
  box-shadow: 0px 0px 1px ;
  z-index: 1;
  height: 9vh;
}

.topnav img {
  width: 70px;
  height: auto;
  margin-left: 10px;
  float: left;
}

.topnav .name {
position: relative;
float: left;
margin-top: 0px;
}

.name a {
  text-decoration: none;
  float: left;
  margin: 0px;
  padding-top: 15px;
  font-family: 'Nunito';
  font-size: 30px;
  color: #388624;
}

.topnav .option {
  position: absolute;
  margin-top: 24px;
  left: 18vw;
  right: 18vw;
}

.option a {
  text-decoration: none;
  color: #136129;
  margin-left: 30px;
  font-family: "Nunito";
  font-weight: bold;
}

.option a:hover {
  text-decoration: underline;
}

.option .opt1 {
  margin-left: 260px;
}

.option .opt1 {
  text-decoration: underline;
}

.search-container{
max-width: 450px;
margin: 0px auto;
}

.search-container .search-input{
background-color: #dbeafe;
width: 380px;
border-radius: 5px;
position: relative;
top: 11px;
left: 39vw;

}

.search-input input{
height: 45px;
width: 300px;
outline: none;
border: none;
border-radius: 5px;
padding: 0 60px 0 20px;
font-size: 16px;
background-color: #dbeafe;
color: #136129;
}

.search-input.active input{
border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
position: absolute;
padding: 0;
opacity: 0;
pointer-events: none;
width: 23vw;
max-height: 280px;
overflow-y: auto;
overflow-x: hidden;
background-color: #fff;
border-radius: 0 0 5px 5px;
}

.search-input .autocom-box::-webkit-scrollbar {
width: 0px;
background: transparent; /* make scrollbar transparent */
}

.search-input.active .autocom-box{
padding: 10px 8px;
opacity: 1;
pointer-events: auto;
}

.autocom-box li{
list-style: none;
padding: 8px 12px;
display: none;
width: 100%;
cursor: default;
border-radius: 3px;
color: #136129;
font-family: "Inter";
}

.search-input.active .autocom-box li{
display: block;
}
.autocom-box li:hover{
background: #efefef;
}

.search-input .icon{
position: absolute;
right: 0px;
top: 0px;
height: 55px;
width: 55px;
text-align: center;
line-height: 55px;
font-size: 20px;
color: #136129;
cursor: pointer;
}

/* End of Top Nav */

  .main-container {
    position: absolute;
    background-color: #B7EBBC;
    width: 100%;
    height: 90%;
    overflow: hidden;
  }

  .main-container .slideshow {
    width: 50%;
    height: auto;
    float: left;
    display: inline;
  }


  .slideshow .slideImg {
    position: relative;
    width: 730px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding: 5px;
    border: #388624 dashed 2px;
    top: 30px;
    bottom: 15px;
    left: 5px;
    right: 10px;
  }

  .main-container .sidebar {
    width: 50%;
    height: 100%;
    float: right;
  }

  .sidebar .triviaFacts {
    width: 99%;
    height: 43%;
  }

  .triviaFacts .facts {
    background-color: #93D7AA;
    width: 96.8%;
    height: 100%;
    margin: 10px 0px 10px 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px ;
    border: #136129;
    border-style: dashed;
    border-width: 1px;
    float: left;
  }

  .triviaFacts h2 {
    margin: 0px;
    text-align: center;
    font-family: 'Inter';
    color: #136129;
    font-size: 30px;
  }
  
  .triviaFacts hr {
    border: #136129;
    border-top: 1px dashed #136129;
    margin: 7px -3px 0px ;
  }

  .triviaFacts h1 {
    margin: 10px;
    text-align: left;
    font-family: 'Inter';
    color: #136129;
    font-size: 35px;
  }

  .triviaFacts p {
    margin: 10px;
    text-align: left;
    font-family: 'Inter';
    color: #136129;
    font-size: 30px;
  }
  
  .sidebar .Trivia {
    width: 96%;
    height: 50%;
    background-color: #93D7AA;
    margin: 30px auto 15px auto;
    padding: 0px 5px 2px 5px;
    border-radius: 5px;
    border: #136129;
    border-style: dashed;
    border-width: 1px;
    box-shadow: 0px 0px 1px ;
  }

  .Trivia .triviaHeading {
    width: auto;
    height: 7%;
    margin-right: 20px
  }

  .Trivia h2 {
    margin: 7px;
    color: #136129;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 25px;
    float: right;
  }

  .Trivia .triviaTitle {
    margin: 7px;
    color: #136129;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 30px;
    float: left;
  }

  .Trivia .line {
    height: 1%;
  }

  .line hr {
    margin: 30px -3px 0px ;
    border: 0;
    border-top: 1px dashed #136129;
  }

  .Trivia .triviaBody {
    width: auto;
    height: 93%;
    padding: 0px 10px 0px 10px;
  }

  .triviaBody .question {
    width: auto;
    height: 25%;
  }
  .triviaBody .answer {
    width: auto;
    height: 75%;
  }

  .triviaBody h3 {
    margin: 5px 0 0 0;
    color: #136129;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 20px;
  }

  .triviaBody p {
    color: #136129;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 15px;
  }

  .Option button {
    display: inline-block;
    margin: 15px 0px 5px 18px;
    height: 70px;
    width: 90%;
    outline: none;
    background: none;
    border: #136129 solid 2px;
    color: #136129;
    border-radius: 5px;
    transition-duration: 0.4s;
  }

  .Option button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  .Option h3 {
    display: inline-block;
  }

  .triviaBody .Sect1 {
    width: 50%;
    height: auto;
    float: left;
  }

  .triviaBody .Sect2 {
    width: 50%;
    height: auto;
    float: right;
  }

  .answer .material-symbols-outlined {
    position: absolute;
    visibility: hidden;
    color: #136129;
    font-size: 100px;
    text-align: center;
    left: 769px;
    right: 0px;
    bottom: 56px;
  }
  .answer .material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  }






 