
body {
  margin: 0;
  height: 100%;
  background: #b7ebbc;
  overflow: hidden;
}

/* Top Nav */

.topnav {
  position: relative;
  background-color: #ffffff;
  overflow: visible;
  box-shadow: 0px 0px 1px;
  z-index: 1;
  height: 4.5em;
}

.topnav img {
  width: 70px;
  height: auto;
  margin-left: 10px;
  float: left;
}

.topnav .name {
  position: relative;
  float: left;
  margin-top: 0px;
}

.name a {
  text-decoration: none;
  float: left;
  margin: 0px;
  padding-top: 15px;
  font-family: "Nunito";
  font-size: 30px;
  color: #388624;
}

.topnav .option {
  position: relative;
  margin-top: 24px;
  float: left;
  left: 13vw;
  right: 10vw;
}

.option a {
  text-decoration: none;
  color: #136129;
  margin-left: 30px;
  font-family: "Nunito";
  font-weight: bold;
}

.option a:hover {
  text-decoration: underline;
}

.checkbtn {
  font-size: 30px;
  color: #136129;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.search-container {
  float: right;
  max-width: 20em;
  margin: 0px auto;
}

.search-container .search-input {
  background-color: #dbeafe;
  width: 22em;
  border-radius: 5px;
  position: relative;
  top: 0.8em;
  right: 3em;
}

.search-input input {
  height: 45px;
  width: 17.5em;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 16px;
  background-color: #dbeafe;
  color: #136129;
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
  position: absolute;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  width: 21.5em;
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}

.search-input .autocom-box::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  color: #136129;
  font-family: "Inter";
}

.search-input.active .autocom-box li {
  display: block;
}
.autocom-box li:hover {
  background: #efefef;
}

.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #136129;
  cursor: pointer;
}

/* End of Top Nav */

.main-container {
  position: absolute;
  background-color: #b7ebbc;
  width: 100%;
  height: 91%;
  z-index: -2;
  overflow: hidden;
}

/* Menu */

.main-container .menu {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: auto;
  z-index: 2;
}

.menuOption a {
  display: block;
  text-decoration: none;
  color: #136129;
  text-align: center;
  font-family: "Nunito";
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
}

.menuOption hr {
  margin: 0;
  border-top: #136129 1px dashed;
}

/* End of Menu */

.main-container .lesson-container {
  position: absolute;
  background-color: #e5fce7;
  width: 70%;
  height: 100%;
  padding: 20px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.lesson-container::-webkit-scrollbar {
  width: 7px;
}

.lesson-container::-webkit-scrollbar-thumb {
  background-color: #9bf0b8;
  opacity: 0.4;
  border-radius: 3px;
  visibility: hidden;
}

.lesson-container:hover::-webkit-scrollbar-thumb {
  background-color: #9bf0b8;
  opacity: 0.4;
  border-radius: 3px;
  visibility: visible;
}

.lesson-container .lessonTitle {
  width: auto;
  height: 10%;
}

.lessonTitle h1 {
  font-family: "Inter";
  font-weight: bolder;
  font-size: 30px;
  color: #136129;
}

.lesson-container .lessonBody {
  position: relative;
  width: auto;
  height: 80%;
  margin-top: 2em;
}

.lessonBody .lscontainer {
  width: auto;
  height: auto;
  display: block;
}

.lscontainer .lessonDscrpt {
  position: relative;
  width: 48%;
  height: auto;
  margin: 0px 20px 0px 0px;
  float: left;
}

.lessonDscrpt p {
  margin: 0;
  font-family: "Inter";
  font-size: 20px;
  color: #136129;
  text-align: justify;
  z-index: 1;
}

.lscontainer .lessonImg {
  width: 49%;
  height: auto;
  float: left;
  margin-bottom: 4px;
  z-index: 2;
}

.lessonImg #electronegativity {
  width: 100%;
  height: auto;
}

.lessonImg img {
  margin: 0;
  width: 100%;
  height: 45vh;
  border: #136129 dashed 2px;
}

.lessonImg a {
  position: relative;
  text-decoration: none;
  color: #136129;
  z-index: 3;
}

.lessonBody .topics {
  position: relative;
  display: block;
  width: auto;
  height: 70%;
}

.topics .topicTitle {
  font-family: "Inter";
  font-weight: bolder;
  font-size: 30px;
  color: #136129;
}

.topics p {
  margin: 0;
  font-family: "Inter";
  font-size: 20px;
  color: #136129;
  text-align: justify;
  z-index: 0;
}

#center {
  text-align: center;
}

p .top {
  left: 0.3em;
  top: -0.5em;
  margin-left: -1em;
  position: relative;
}

.topics .list-container {
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.list-container .list {
  position: relative;
  display: block;
  margin: 0;
  font-family: "Inter";
  font-size: 20px;
  color: #136129;
  width: 20%;
  height: auto;
  float: left;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-top: 25px;
}

.list-container .list2 {
  position: relative;
  display: block;
  margin: 0;
  font-family: "Inter";
  font-size: 20px;
  color: #136129;
  width: 45%;
  height: auto;
  float: left;
  margin-right: 0px;
  margin-bottom: 30px;
}

ul h4 {
  margin: 10px;
}

.topics #ul2 {
  width: 30%;
}

.topics #ul3 {
  width: 35%;
}

.list li {
  line-height: 30px;
}

table {
  margin-top: 10px;
}

table, th, td {
  border:1px solid #136129;
  color: #136129;
  font-family: "Inter";
  text-align: center;
}

.lesson-container .lessonFunction {
  position: relative;
  width: auto;
  height: 10%;
  top: 5vh;
  bottom: 0;
  left: 0;
  right: 0;
}

.lessonFunction button {
  color: #136129;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Inter';
  background-color: #9BF0B8;
  border: none;
  border-radius: 9px;
  padding: 18px;
  width: 130px;
  cursor: pointer;
  margin: 7px;
  margin-bottom: 50px;
}

.lessonFunction button:hover {
  background-color: #39b15b;
  color: white;
}

.lessonFunction #previous {
  float: right;
  margin-right: 40px;
}

  /* Responsive Top Nav */

  @media only screen and (max-width: 1130px) {
    .checkbtn {
      display: block;
    }
  
    .menu {
      display: block !important;
      position: absolute;
      width: 100%;
      height: 100vw;
      left: -200vw;
      transition-duration: 0.2s;
    }
  
    .topnav .option {
      display: none;
    }
  
    .search-container {
      position: fixed;
      width: 100vw;
      top: 70px;
      left: -300vw;
      right: 49em;
      transition-duration: 0.2s;
    }
  
    .search-input {
      width: 100vw !important;
      border-radius: 0px !important;
    }
  
    .search-input input {
      width: 80vw;
      border-radius: 0px !important;
    }
    .search-input .autocom-box {
      width: 100%;
      box-shadow: #136129 1px 0px 3px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .name a {
      display: none;
    }
  }
  
  @media only screen and (max-width: 1360px) {
    .topnav .option {
      left: 5vw;
    }
    .video .chemVid {
      margin-top: 3.5em;
      margin-left: 1.8em;
    }
  }

  @media only screen and (max-width: 633px) {
    table {
      display: block;
    }
  }

  @media only screen and (max-width: 900px) {
    #equation {
      overflow-x: scroll;
    }
  }
  
  
  @media only screen and (max-width: 1180px) {
    .topnav .option {
      left: 2vw;
    }
    .video .chemVid {
      margin-top: 6em;
      margin-left: 1.5em;
    }
    
  }
  
  /* End of Responsive Top Nav */
  
  @media only screen and (min-width: 1130px) {
    .main-container {
      height: 90% !important;
    }
  }
  
  @media only screen and (max-width: 1480px) {
    .lessonDscrpt {
      float: none !important;
      width: 100% !important;
      height: auto !important;
    }
    .lessonImg {
      float: none !important;
      width: 100% !important;
      height: auto !important;
    }
    .list-container .list {
      float: none !important;
      width: auto !important;
    }
    .list-container .list2 {
      float: none !important;
      width: auto !important;
    }
    table {
      width: 100% !important;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .lesson-container {
      width: auto !important;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .lessonFunction {
      display: inline-block;
      height: auto !important;
      margin: auto !important;
      width: 100% !important;
    }
  
    .lessonFunction button {
      float: none !important;
      margin-bottom: 15px !important;
      width: 100% !important;
    }

    #previous {
      margin-bottom: 50px !important;
    }
  
    .lessonTitle h1 {
      font-size: 25px;
    }
  }
