
body {
  margin: 0;
  height: 100%;
  background: #b7ebbc;
  overflow: hidden;
}

/* Top Nav */

.topnav {
  position: relative;
  background-color: #ffffff;
  overflow: visible;
  box-shadow: 0px 0px 1px;
  z-index: 1;
  height: 4.5em;
}

.topnav img {
  width: 70px;
  height: auto;
  margin-left: 10px;
  float: left;
}

.topnav .name {
  position: relative;
  float: left;
  margin-top: 0px;
}

.name a {
  text-decoration: none;
  float: left;
  margin: 0px;
  padding-top: 15px;
  font-family: "Nunito";
  font-size: 30px;
  color: #388624;
}

.topnav .option {
  position: relative;
  margin-top: 24px;
  float: left;
  left: 13vw;
  right: 10vw;
}

.option a {
  text-decoration: none;
  color: #136129;
  margin-left: 30px;
  font-family: "Nunito";
  font-weight: bold;
}

.option a:hover {
  text-decoration: underline;
}

.checkbtn {
  font-size: 30px;
  color: #136129;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.search-container {
  float: right;
  max-width: 20em;
  margin: 0px auto;
}

.search-container .search-input {
  background-color: #dbeafe;
  width: 22em;
  border-radius: 5px;
  position: relative;
  top: 0.8em;
  right: 3em;
}

.search-input input {
  height: 45px;
  width: 17.5em;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 16px;
  background-color: #dbeafe;
  color: #136129;
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
  position: absolute;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  width: 21.5em;
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}

.search-input .autocom-box::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  color: #136129;
  font-family: "Inter";
}

.search-input.active .autocom-box li {
  display: block;
}
.autocom-box li:hover {
  background: #efefef;
}

.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #136129;
  cursor: pointer;
}

/* End of Top Nav */

.main-container {
  position: absolute;
  background-color: #b7ebbc;
  width: 100%;
  height: 91%;
  z-index: -2;
  overflow: hidden;
}

/* Menu */

.main-container .menu {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: auto;
  z-index: 2;
}

.menuOption a {
  display: block;
  text-decoration: none;
  color: #136129;
  text-align: center;
  font-family: "Nunito";
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
}

.menuOption hr {
  margin: 0;
  border-top: #136129 1px dashed;
}

/* End of Menu */

  .main-container .lesson-container {
    position: absolute;
    background-color: #E5FCE7;
    width: 70%;
    height: 100%;
    padding: 20px;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  .lesson-container::-webkit-scrollbar {
    width: 7px;
  }

  .lesson-container::-webkit-scrollbar-thumb {
    background-color: #9BF0B8;
    opacity: 0;
    border-radius: 3px;
    visibility: hidden;
    transition: all 1s ease-out;
  }

  .lesson-container:hover::-webkit-scrollbar-thumb {
    background-color: #9BF0B8;
    opacity: 1;
    border-radius: 3px;
    visibility: visible;
    transition: all 1s ease-in;
  }

  .lesson-container .lessonTitle {
    width: auto;
    height: 10%;
  }

  .lessonTitle h1 {
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 30px;
    color: #136129;
  }

  .lesson-container .lessonBody {
    position: relative;
    width: auto;
    height: 80%;
    margin-top: 1em;
  }

  .lessonBody .lscontainer {
    width: auto;
    height: auto;
    display: block;
  }

  .lscontainer .lessonDscrpt {
    position: relative;
    width: 48%;
    height: auto;
    margin: 0px 20px 0px 0px;
    float: left;
  }

  .lessonDscrpt p {
    margin: 0;
    font-family: 'Inter';
    font-size: 20px;
    color: #136129;
    text-align: justify;
  }

  .lscontainer .lessonImg {
    position: relative;
    z-index: 1;
    margin-top: 15px;
    width: 49%;
    height: 55vh;
    left: 30px;
    bottom: 20px;
    float: left;
  }

  .lessonImg img {
    width: 85%;
    height: auto;
    border: #136129 dashed 2px;
    margin-top: 10px;
  }

  .lessonImg #diatomic {
    position: relative;
    width: 70%;
    height: auto;
    left: 155px;
  }

  .lessonImg a {
    display: block;
    text-decoration: none;
    color: #136129;
  }

  .lessonImg #adiatomic {
    position: relative;
    display: block;
    text-decoration: none;
    color: #136129;
    text-align: center;
  }

  .lessonBody .topics {
    position: relative;
    display: block;
    width: auto;
    height: 70%;
  }

  .topics .topicTitle {
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 30px;
    color: #136129;
  }

  .topics p {
    margin: 0;
    font-family: 'Inter';
    font-size: 20px;
    color: #136129;
    text-align: justify;
  }

  .topics #figure215 {
    text-align: center;
    margin-top: 20px;
  }

  .topics .sect1 {
    width: 70%;
    height: auto;
    float: right;
    margin-bottom: 70px;
  }

  .topics .sect2 {
    margin-right: 20px ;
    width: 28%;
    height: auto;
    float: left;
  }

  .lessonImg #common {
    position: relative;
    width: 85%;
    height: auto;
    margin-left: 20px;
    top: 15px;
  }

  .lessonImg #acommon {
    position: relative;
    word-wrap: break-word;
    top: 15px;
    margin-bottom: 30px;
  }

  .reference {
    font-family: 'Inter';
    color: #136129;
    font-size: 25;
    font-weight: bold;
  }

  .lesson-container .lessonFunction {
    position: relative;
    width: auto;
    height: 10%;
    top: 5vh;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .lessonFunction button {
    color: #136129;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Inter';
    background-color: #9BF0B8;
    border: none;
    border-radius: 9px;
    padding: 18px;
    width: 130px;
    cursor: pointer;
    margin: 7px;
    margin-bottom: 50px;
  }

  .lessonFunction button:hover {
    background-color: #39b15b;
    color: white;
  }

  .lessonFunction #next {
    float: right;
  }

  .lessonFunction #previous {
    float: right;
  }

    /* Responsive Top Nav */

@media only screen and (max-width: 1130px) {
  .checkbtn {
    display: block;
  }

  .menu {
    display: block !important;
    position: absolute;
    width: 100%;
    height: 100vw;
    left: -200vw;
    transition-duration: 0.2s;
  }

  .topnav .option {
    display: none;
  }

  .search-container {
    position: fixed;
    width: 100vw;
    top: 70px;
    left: -300vw;
    right: 49em;
    transition-duration: 0.2s;
  }

  .search-input {
    width: 100vw !important;
    border-radius: 0px !important;
  }

  .search-input input {
    width: 80vw;
    border-radius: 0px !important;
  }
  .search-input .autocom-box {
    width: 100%;
    box-shadow: #136129 1px 0px 3px;
  }
}

@media only screen and (max-width: 400px) {
  .name a {
    display: none;
  }
}

@media only screen and (max-width: 1360px) {
  .topnav .option {
    left: 5vw;
  }
  .video .chemVid {
    margin-top: 3.5em;
    margin-left: 1.8em;
  }
}

@media only screen and (max-width: 1180px) {
  .topnav .option {
    left: 2vw;
  }
  .video .chemVid {
    margin-top: 6em;
    margin-left: 1.5em;
  }
  
}

/* End of Responsive Top Nav */

@media only screen and (min-width: 1130px) {
  .main-container {
    height: 90% !important;
  }
}

@media only screen and (max-width: 1480px) {
  .lessonDscrpt {
    float: none !important;
    width: 100% !important;
    height: auto !important;
  }
  .lessonImg {
    float: none !important;
    width: 100% !important;
    height: auto !important;
  }
  #diatomic {
    left: 0 !important;
    margin: auto !important;
    width: 100% !important;
  }
  .topics .sect1, .topics .sect2{
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
  }
}

@media only screen and (max-width: 1000px) {
  .lesson-container {
    width: auto !important;
  }

}

@media only screen and (max-width: 500px) {
  .lessonFunction {
    display: inline-block;
    height: auto !important;
    margin: auto !important;
    width: 100% !important;
  }

  .lessonFunction button {
    float: none !important;
    margin-bottom: 15px !important;
    width: 100% !important;
  }

  #previous {
    margin-bottom: 50px !important;
  }

  .lessonTitle h1 {
    font-size: 25px;
  }
}
